.oferta {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}
.precio {
    font-size: 2rem;
    color: #333;
}

@media (min-width: 600px) and (max-width: 899px),(min-width: 1200px) {
    .oferta {
        padding: 10px;
        max-width: 40rem;
        background-color: rgb(115, 255, 0);
    }
    
    .precio {
        font-size: 4rem;
    }
}