.contenedor-responsive {
    background-color: aliceblue;
    width: 90%;
    max-width: 1000px;
    width: min(90%, 1000px);  /**esto reemplaza las dos lineas anteriores**/
    height: 400px;
    margin: 0 auto;
}